.homediv {
  margin: 2rem auto 2rem auto;
  padding: 2rem;
  font-size: 1.5rem;
  max-width: 20em;
  border-radius: 10px;
  border: whitesmoke solid 2px;
}

#red {
  background-color: #8E1600;
}

#green {
  background-color: #006400;
}

#blue {
  background-color: #5579C6;
}

#grey {
  background-color: darkgray;
}
